@font-face {
  font-family: "iconfont"; /* Project id 3318305 */
  src: url('iconfont.woff2?t=1649740733787') format('woff2'),
       url('iconfont.woff?t=1649740733787') format('woff'),
       url('iconfont.ttf?t=1649740733787') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-amount-color:before {
  content: "\e68f";
}

.icon-fangshai:before {
  content: "\e952";
}

.icon-a-basketballlanqiutiyuyundong:before {
  content: "\e6da";
}

.icon-zhinan:before {
  content: "\eded";
}

.icon-qing:before {
  content: "\e69a";
}

.icon-fenxiang:before {
  content: "\e607";
}

.icon-duanxiu:before {
  content: "\e684";
}

.icon-filedicon_wehiclec:before {
  content: "\e62f";
}

.icon-diaoyu:before {
  content: "\e680";
}

.icon-sousuo:before {
  content: "\e6fd";
}

.icon-dizhi:before {
  content: "\e72a";
}

